@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    margin: 0;
    background: linear-gradient(90deg, rgb(90, 0, 78) 0%, rgb(129, 24, 170) 50%, rgb(89, 0, 255) 100%);
}

body > * {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3%;
}

.header > h1 {
    font: 800 italic 2rem Montserrat, Helvetica, sans-serif;
    color: white;
    margin-bottom: 0; 
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container > label {
    color: white;
    font: 700 1.2rem Montserrat, Helvetica, sans-serif;
    text-align: center;
}

#city-name {
    font: 500 1rem Montserrat, Helvetica, sans-serif;
    padding: 0.5rem;
    border-radius: 24px;
    border: 2px solid white;
    border-radius: 8px;
}

.search-button {
    font: 700 1.1rem Montserrat, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
    width: 120px;
    padding: 0.5rem;
    border: none;
    border-radius: 24px;
}

.search-button:active {
    background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(255,255,255,0.2));
}

.location-container {
    text-align: center;
    margin: 32px auto;
}

.location-container > .city-name {
    color: white;
    font: 700 1.6rem Montserrat, Helvetica, sans-serif;
}

.location-container > .country-name {
    color: rgba(255,255,255,0.8);
    font: 600 1rem Montserrat, Helvetica, sans-serif;
}

.slider {
    position: relative;
}

.cards-container {
    position: relative;
    height: 240px;
    margin-bottom: 32px;
    overflow: hidden;
}

.left-button, .right-button {
    color: white;
    font: 300 2rem Montserrat, Helvetica, sans-serif;
    background: none;
    border: none;
}

.left-button {
    position: absolute;
    top: calc(50% - 16px);
    right: 100%;
}

.right-button {
    position: absolute;
    top: calc(50% - 16px);
    left: 100%;
}

.weather-card, .details {
    background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
    border: none;
    border-radius: 16px;
    padding: 16px;
    color: white;
}

.cards-container > .weather-card {
    box-sizing: border-box;
    width: calc((100% - 64px) / 3);
    height: 100%;
    position: absolute;
    transition: transform 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.weather-card > .icon {
    width: 64px;
    align-self: center;
}

.details > *{
    margin-bottom: 4px;
}

.day-container {
    font: 700 1.4rem Montserrat, Helvetica, sans-serif;
}

.date-container, .humidity-container, .wind-container {
    font: 500 1rem Montserrat, Helvetica, sans-serif;
}

.day-container, .date-container, .time-container, .condition-container, .humidity-container, .wind-container {
    text-align: center;
}

.time-container, .condition-container {
    font: 600 1rem Montserrat, Helvetica, sans-serif;
}

.hours-container {
    margin-right: auto;
    margin-left: auto;
    font-size: 0.8rem;
    display: flex;
    gap: 16px;
    overflow: auto;
    padding: 16px 4px;
}

.hour {
    color: #999999;
    font: 700 0.8rem Montserrat, Helvetica, sans-serif;
}

.hour-container.active > .hour {
    color: rgb(240, 240, 240);
}


.hour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hour-container > .icon {
    width: 32px;
}