body {
    margin-right: 10%;
    margin-left: 10%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#city-name {
    padding: 0.5rem;
    border-radius: 24px;
    border: 2px solid;
}

.search-button {
    padding: 0.5rem;
    border-radius: 24px;
}

.location-container {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.cards-container > .weather-card {
    flex: 1;
}

.weather-card {
    border: 1px solid black;
}

.weather-card > .icon {
    width: 64px;
}

.details > .icon {
    width: 32px;
}

.hours-container {
    margin-right: auto;
    margin-left: auto;
    font-size: 0.8rem;
    display: inline-flex;
    gap: 16px;
    flex-wrap: wrap;
}

.hour {
    color: #999999;
}

.hour-container.active > .hour {
    color: black;
}

.hour-container > .icon {
    width: 24px;
}

.hour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}